*{
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  max-width: 800px;
  margin: auto;
}
.sidebar {
  width: 30%;
  background: blue;
  color: white;
  padding: 10px;
}
.links {
  background: white;
  padding: 10px;
}
.links a {
  display: block;
  color: blue;
  text-decoration: none;
  padding: 5px 0;
  border-bottom: 1px solid gray;
}
.content {
  width: 70%;
  padding: 20px;
  background: #f4f4f4;
}